// Place all the styles related to the List controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-display {
  display: flex;
  justify-content: center;
}

.todo-list {
  width: 40%;
  height: 70%;
  padding: 3%;
}

@media screen and (max-width: 768px) {
  .list-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .todo-list {
    width: 80%;
    height: 70%;
  }
}

.todo-list-title {
  background-color: #679fc4;
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 2%;
}

.items-container {
  background-color: #f4f4f4;
  height: 90%;
  padding: 1em;
}

.add-button {
  width: 100%;
}
