// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  border-radius: 2px;
  height: fit-content;
  display: flex;
  align-items: center;
  word-wrap: break-word;
  padding: 2%;
  margin-bottom: 1em;
  background-color: white;
}

.content-display {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

.other-info {
  color: grey;
}
