// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
    border-radius: 2px;
    height: fit-content;
    display: flex;
    padding: 2%;
    margin-bottom: 1em;
    font-family: 'Open Sans';
    background-color: white;
    word-break: break-all;
    overflow-wrap: break-word;
}

.content-display {
    display: flex;
    flex-direction: column;
}

.other-info {
    color: grey;
}